<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a class="active" href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="wrapper">
            <h2>GET IN TOUCH</h2>
            <div id="error_message"></div>
            <form id="myform" action="/success" method="post">
                <div class="input_field">
                    <input type="text" placeholder="Name" id="name">
                </div>
                <div class="input_field">
                    <input type="email" placeholder="Email" id="email">
                </div>
                <div class="btn">
                    <input type="submit" value="SUBMIT" onclick="return validate();">
                </div>
            </form>
        </div>
    </main>
</body>
</html>

    